.sorting-area {
  width: 100%;
}
ul.sorting-tab {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 24px;
}

ul.sorting-tab li.list {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid var(--linkbrary-primary-color, #6d6afe);
}

ul.sorting-tab li.list:hover {
  background: var(--linkbrary-primary-color, #6d6afe);
}

ul.sorting-tab li.list:hover button {
  color: #fff;
}
